@import "settings";
@import "foundation";
@import "compass/css3";
@import "devicon/devicon";

@import "devicon/devicon-colors";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

body {
    font-family: "Raleway", sans-serif;
}

.hero {
    background: url(../images/Hero-Image.jpg) no-repeat center center fixed;
    @include background-size(cover);
    height: 100%;
    width: 100%;
}

.logo {
	height: 55px;
	width: auto;
}

.hero-content-container {
    position: relative;
    display: table;
    overflow: hidden;
    width: 100%;
    height: 75%;
}

.hero-content {
    display: table-cell;
    vertical-align: middle;
}

.spacer {
    height: 75px;
}

.contain-to-grid, .top-bar {
    background: none !important;
}

.fixed {
    background: #333 !important;
}

h1 {
    color: #ffffff;
    font: 300 50px Raleway;
    letter-spacing: 0.1rem;
}

h1 span {
    color: #0fd4d2;
}

.down {
    position: absolute;
    bottom: 50px;
    left:0;
    right:0;
    text-align: center;
    @include transform(rotate(270deg) scale(1, 2));
}

.down a {
    color: rgba(255, 255, 255, 0.31);
    font: 100 35px Raleway;
}

.white {
    color: white !important;
}

h2 {
    font: 300 rem-calc(33) "Raleway";
    margin-bottom: rem-calc(30);
    letter-spacing: 0.1rem;
}

p {
    font: 300 rem-calc(13) "Open Sans";
    line-height: rem-calc(22);
}

.background-dark {
    background-color: #0a141d;
    padding-top: 50px;
    padding-bottom: 60px;
}


#me {
    position: relative;
    top: -50px;
}

.interest {
    font-size: rem-calc(35);
    padding: rem-calc(35);
    margin-bottom: 5px;
    border-radius: 99px;
    @include transition(100ms ease-out);
    border: 2px solid transparent;
}

.interest:hover {
    border: 2px solid rgba(31, 173, 172, 0.76);
    color: #1fadac;
}



.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

#skills {
    background-color: #efefef;
    padding: 50px;
    border-bottom: 1px solid #c6c6c6;
    min-height: 450px;
}

.skills-buttons {
    margin-bottom: 35px;
}
.skills-buttons a {
    width: 100%;
}


.skills-buttons .color-1:hover, .skills-buttons .color-1:focus {
    background-color: adjust-lightness(#8ccccc, -15%) !important;
    color: white;
}

.skills-buttons .color-2:hover, .skills-buttons .color-2:focus {
    background-color: adjust-lightness(#69bdbd, -15%) !important;
    color: white;
}
.skills-buttons .color-3:hover, .skills-buttons .color-3:focus {
    background-color: adjust-lightness(#579c9c, -15%) !important;
    color: white;
}
.skills-buttons .color-4:hover, .skills-buttons .color-4:focus {
    background-color: adjust-lightness(#498282, -15%) !important;
    color: white;
}

.skills-buttons .active:hover, .skills-buttons .active:focus {
    background-color: #efefef !important;
    color: black;
}

.color-1 {
    background-color: #8ccccc;
}

.color-2 {
    background-color: #69bdbd;
}

.color-3 {
    background-color: #579c9c;
}

.color-4 {
    background-color: #498282;
}

#experience {
    margin-bottom: 60px;
}

#contact button {
    width: rem-calc(100);
    background-color: #1fadac;
    border-color: #1fadac;
}
#contact button:hover, #contact button:focus{
    background-color: adjust-lightness(#1fadac, -15%) !important;
    color: white;
}

#contact input, #contact textarea {
    background-color: transparent;
    border: 1px #fff solid;
    border-radius: 3px;
    color: white;
    padding: 15px;
    font-size: rem-calc(14);
}

#contact {
    padding-top: 50px;
    background: url(../images/Hero-Image.jpg) no-repeat center center fixed;
    @include background-size(cover);
    width: 100%;
}


footer {
    background-color: #010515;
    font-size: rem-calc(13);
    text-align: center;
    color: #6d6d6d;
    padding: 5px;
}


#experience img{
    width: 135px;
    height: auto;
}


#experience {
    p {
        margin-top: 10px;
    }

    h4 {
        margin-bottom: 0;
        font-weight: bold;
    }



    span {
        font-size: 0.8rem;
        color: #a5a5a5;

        &::before {
            content: "|";
            margin-left: 7px;
            margin-right: 7px;
        }
    }
}

h5 {
    font-size: 1.1rem;
    color: #777;
    margin: 0;

    display: inline-block
}

.devicon i {
    font-size: rem-calc(60);
    margin: rem-calc(20);
}

.devicon {
    line-height: rem-calc(60);
}

.g-recaptcha {
    margin-right: 6px;
    margin-bottom: 5px;
}

.red {
    margin-right: 6px;
    color: red;
}

#skills img {
    max-width: 60px;
    max-height: 60px;
}

.body-content {
    overflow-x: hidden !important;
    width: 100%;
}


//SMALL
@media only screen and (max-width: 40em) {
    #profile, #skills {
        padding: 10px;
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .graph {
        padding: 0px !important;
        position: relative !important;
        left: -15px !important;
    }

    .row {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .social i {
        padding: 10px;
    }

    .hero-content h1 {
        font-size: 35px;
        padding: 7px;
    }

    .hero-content a {
        font-size: 13px;
        margin-top: 40px;
    }

    .hero-content {
        text-align: center;
    }

    .spacer {
        height: 7px;
    }

    #experience img {
        margin-bottom: 10px;
    }

    .skills-buttons .active {
        background-color: #efefef;
        margin-top: 0;
        color: #585858;
    }
}

//MEDIUM
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    #profile, #skills {
        padding: 25px;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .social i {
        padding: 10px;
    }
}

//large
@media only screen and (min-width: 64em) {
    .padding {
        padding: 30px;
    }

}


// NOT small
@media only screen and (min-width: 40em) {
    .social {
        padding-top: 95px;
        @include background-image(linear-gradient(to bottom, rgba(0, 0, 0, 0) 5%,  rgb(0, 0, 0) 95%));
        padding-bottom: 40px;
    }

    .skills-buttons .active {
        background-color: #efefef;
        height: 67px;
        margin-top: 0;
        position: relative;
        top: -1px;
        border-top: none !important;
        border-left: 1px solid #c6c6c6;
        border-right: 1px solid #c6c6c6;
        border-bottom: 1px solid #c6c6c6;
        padding-top: 34px;
        color: #585858;
    }

}


.project {
  cursor: pointer;
  position: relative;
  height: 300px;
  // width: 25%;
  img {
    position: absolute;
    left: 0;
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    overflow: hidden;
  }
  .overlay {
    background-color: #0a141d;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 50;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0.35;
    height: 300px;
    width: 100%;
    padding: 50px 20px;
  }

  &:hover .overlay {
    background-color: rgba(#1fadac, 0.8);
    opacity: 1;
  }

  .overtext {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
  }

  .title {
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
  }

  &:hover .title,
  &:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }

  .tagline {
    font-size: 0.8em;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
  }

  &:hover .tagline,
  &:focus .tagline {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
}

.project-container {
  max-width: 100% !important;
}

h2 {
  margin-bottom: 3.5rem !important;
  &:after {
    position: absolute;
    margin-top: 25px;
    width: 100px;
    background: #1fadac;
    margin-left: -50px;
    content: '';
    height: 2px;
    left: 50%;
    display: block;
  }
}

#recommendations {
  margin-bottom: 25px;
  p {
    &:before {
      content: "\201C"; /*Unicode for Left Double Quote*/

      /*Font*/
      font-family: Georgia, serif;
      font-size: 40px;
      font-weight: bold;
      color: #1fadac;

      /*Positioning*/
      position: absolute;
      left: -10px;
      top: 105px;
    }
  }

  .profile-image {
    width: 85px;
    height: 85px;
    border: 1px;
    border-radius: 9999px;
  }

  p {
    line-height: 2 !important;
  }
}

.big {
  background: url(../images/big.png) no-repeat center center;
  @include background-size(cover);
}

.gp {
  background: url(../images/gp.png) no-repeat center center;
  @include background-size(cover);
}

.ticket-man {
  background: url(../images/ticket-man.png) no-repeat center center;
  @include background-size(cover);
}

.pray-today {
  background: url(../images/pray-today.png) no-repeat center center;
  @include background-size(cover);
}

.washable {
  background: url(../images/washable.png) no-repeat center center;
  @include background-size(cover);
}


.spotify {
  background: url(../images/spotify/spotify-lg-0.jpg) no-repeat center center;
  @include background-size(cover);
}

.helps {
  background: url(../images/helps.png) no-repeat center center;
  @include background-size(cover);
}
